<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZEESHAN'S FITNESS</title>
     style
        include style.css
    
</head>

<body>
    <header class="header">
        <div class="left">
            <div>ZEESHAN'S FITNESS </div>
        </div>

        <div class="mid">
            <ul class="navbar">
                <li>
                    <a href="/" class="active">Home</a>
                    <a href="/" class="active">About Us</a>
                    <a href="/" class="active">Services</a>
                    <a href="/" class="active">Contact Us</a>
                </li>
            </ul>
        </div>

        <div class="right">
            <button class="btn">Call Us</button>
            <button class="btn">E-Mail Us</button>
        </div>
    </header>
    <div class="container">
        <h1>Join Now</h1>
        <form action="/" method = "post" class="form">
            <div class="form">
                <input type="text" name="name" placeholder="Your Name"><br>
                <input type="number" name="age" placeholder="Your Age"><br>
                //- <input type="number" name="" placeholder="Your Phone-Number"><br>
                <input type="text" name="gender" placeholder="Your Gender"><br>
                <input type="text" name="address" placeholder="Your Address"><br>
                <button class="btn">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>