body {
    background: url("https://dnm.nflximg.net/api/v6/BvVbc2Wxr2w6QuoANoSpJKEIWjQ/AAAAQVdBAPyPWTNCiO9FN2aoAur_sbm7diFukttNQEyEbZaD5N9grmeMw-DoZTO4x8F29mqi-kBr7sjNhkIVjcYXl0chCgpqPvVSNrAVWQD1jBpM6lXasBqFaTSH64SobC9mcyG6lRLKmWq9DA1nNBUamV95l1g.jpg?r=b99");
    margin: 0%;
    padding: 0%;
    color: white;
}

.left {
    /* border: 2px solid #ff0000; */
    color: rgb(0, 0, 0);
    display: inline-block;
    position: absolute;
    left: 24px;
    top: 20px;
    background-color: aquamarine;
    margin: 3PX 14PX;
    padding: 3px 19px;
    border-radius: 12px;
}

.mid {

    color: black;
    /* border: 2px solid red; */
    margin: 20px auto;
    width: 637px;
    text-align: center;
    display: block;

}

.right {
    display: inline-block;
    /* border: 2px solid grey; */
    color: white;
    position: absolute;
    right: 24px;
    top: 20px;
}

.navbar li {
    display: inline-block;

}

.navbar li a {

    color: white;
    text-decoration: none;
    padding: 34px 23px;
    font-size: 20px;
}

.navbar li a:hover {
    text-decoration: underline;
    color: aquamarine;
}

.btn {
    border: 2px solid grey;
    cursor: pointer;
    border-radius: 12px;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 4px 12px;
}

.btn:hover {
    color: black;
    background-color: aquamarine;
}

.container {
    text-align: center;
    position: absolute;
    top: 2px;
    box-sizing: border-box;
    border: 2px solid white;
    margin: 106px 80px;
    padding: 8px 75px;
    width: 24%;
    border-radius: 28px;

}

.container h1 {
    text-align: center;
}

.form input {
    box-sizing: border-box;
    text-align: center;
    border: 2px solid aquamarine;
    border-radius: 24px;
    width: 292px;
    margin: 7px -45px;
    padding: 10px 18px;
}

.container button {
    width: 100%;
}